a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

ul ul {
  display: none;
}

ul ul li a {
  color: grey;
}

ul li:hover a {
  text-decoration: underline;
}

ul li:hover ul {
  display: block;
}

ul li:hover ul li a {
  text-decoration: none;
}